<script src="/static/js/chart.js/Chart.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> -->


<script>
    $(function () {
        var violet = '#DF99CA', red = '#F0404C', green = '#7CF29C', blue = '#4680ff';

        // ------------------------------------------------------- //
        // Charts Gradients
        // ------------------------------------------------------ //
        var ctx1 = $("canvas").get(0).getContext("2d");
        var gradient1 = ctx1.createLinearGradient(150, 0, 150, 300);
        gradient1.addColorStop(0, 'rgba(210, 114, 181, 0.91)');
        gradient1.addColorStop(1, 'rgba(177, 62, 162, 0)');

        var gradient2 = ctx1.createLinearGradient(10, 0, 150, 300);
        gradient2.addColorStop(0, 'rgba(252, 117, 176, 0.84)');
        gradient2.addColorStop(1, 'rgba(250, 199, 106, 0.92)');


        // ------------------------------------------------------- //
        // Line Chart
        // ------------------------------------------------------ //
        var LINECHARTEXMPLE = $('#lineChartExample');
        var lineChartExample = new Chart(LINECHARTEXMPLE, {
            type: 'line',
            options: {
                legend: { labels: { fontColor: "#777", fontSize: 12 } },
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            color: '#fff'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        
                        gridLines: {
                            color: '#fff'
                        }
                    }]
                },
            },
            data: {
                labels: [{{range $index, $commodity := .周使用统计}}{{range $key, $val := $commodity}} "{{$key}}",{{end}}{{end}} ],
                datasets: [
                    {
                        label: "使用流量",
                        fill: true,
                        lineTension: 0.3,
                        backgroundColor: gradient1,
                        borderColor: 'rgba(210, 114, 181, 0.9)',
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        borderWidth: 2,
                        pointBorderColor: gradient1,
                        pointBackgroundColor: "red",
                        pointBorderWidth: 2,
                        pointHoverRadius: 5,
                        pointHoverBorderColor: "rgba(255,0,0,1)",
                        pointHoverBorderWidth: 5,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: [{{range $index, $commodity := .周使用统计}}{{range $key, $val := $commodity}} "{{$val}}",{{end}}{{end}} ],
                        spanGaps: false,
                    }
                ]
            }
        });


    });

</script>