<div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      <section class="py-5">
        <div class="row">
         
          
          {{range $i, $map := .商品}}
          {{range $key, $val := $map}}
          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="card-header">
                <h6 class="text-uppercase mb-0">{{$key}}</h6>
              </div>
              <div class="card-body">
                <table data-toggle="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>商品名称</th>
                      <th>时长</th>
                      <th>流量</th>
                      <th>套餐类型</th>
                      <th>商品描述</th>
                      <th>价格</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{range $index, $commodity := $val}}
                    <tr>
                      <th scope="row">{{$index | iAdd1}}</th>
                      <td>{{$commodity.Title}}</td>
                      <td>{{$commodity.Time}}天</td>
                      <td>{{$commodity.Ll}}MB</td>
                      <td>
                        {{if eq $commodity.Cover -1}}
                          覆盖
                        {{else if eq $commodity.Cover 1}}
                          叠加
                        {{else}}
                          商品信息异常请勿购买
                        {{end}}
                      </td>
                      <td>{{$commodity.Describe}}</td>
                      <td>{{$commodity.Money}}</td>
                      <td><button type="submit" onclick='gm({{$commodity.Id}})' class="btn btn-primary">购买</button></td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{end}}
          {{end}}
         
        </div>
      </section>
      
    </div>
    