<script>

function login(){
    openLogin()
    $.ajax({
                type: "POST",
                url: '{{urlfor "LoginController.Index"}}',
                //contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                data:$( '#loginForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if(data.code == 0){
                        msg(data.msg, 1) // 成功
                        setTimeout(function(){
                            window.location.href='{{urlfor "UserPanelController.Index"}}';
                        },1000)
                    }else{
                        msg(data.msg, 3) // 警告
                    }
                },
                error: function (e) {
                    msg(e, 4) // 错误
                }
            });
}
</script>